<div class='container'>
    <h2 class='mt-4'>
        Home
        <div class='row'>
            {{#each courses}}
                <div class='col-sm-6 col-lg-4'>
                    <div class='card'>
                        <a href='/courses/{{this.slug}}'>
                            <img
                                src='https://i.ytimg.com/vi/{{this.videoId}}/hq720.jpg'
                                class='card-img-top'
                                alt={{this.title}}
                            />
                        </a>
                        <div class='card-body'>
                            <a href='/courses/{{this.slug}}'>
                                <h5 class='card-title'>{{this.title}}</h5>
                            </a>
                            <p class='card-text'>{{this.describe}}</p>
                            <a href='#' class='btn btn-primary'>Buy</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </h2>
</div>